<%= image_tag "bg2.jpg", class:"main-image" %>


<% if @current_user %>
<div class="welcome-div">
    <div class="text-center">

        <%= link_to "My Profile", user_path(id: @current_user.id), class:"btn-primary form-control" %>

    </div>
</div>





  <% else %>
      <div class="sign-up-div">
        <div class="sign-up" >
          <% if @user.errors.any? %>
          <div class="alert alert-danger" role="alert">
              <% @user.errors.full_messages.each do |msg| %>
              <%= msg %><br>
              <% end %>
          </div>
          <% end %>
          <h1>Sign up</h1>
          <%= form_for @user, url: create_user_path do |f| %>
          <div class="form-label-text">
          <h4>Name</h4>
          <%= f.text_field :name, class:"form-control", placeholder:"Full Name" %><br>
          </div>
            <div class="form-label-text">
          <h4>Email</h4>
          <%= f.text_field :email, class:"form-control", placeholder:"example@email.com" %><br>
            </div>
            <div class="form-label-text">
          <h4>Password</h4>
          <%= f.password_field :password, class:"form-control" %><br>
            </div>
            <div class="form-label-text">
          <h4>Password Confirmation</h4>
          <%= f.password_field :password_confirmation, class:"form-control" %>
        </div><br>
          <%= f.submit "Sign up", class:"btn btn-primary"%>
          <% end %>

          </div>
      </div>
<% end %>

<div class="ticker-div">
			<div class="center-vertically">
				<div id="scaleReveal" class="text-center">
					<div class="ticker">
						<h1>Interview Preperation</h1>
						<h1>Resume Builder</h1>
						<h1>Expert Advice</h1>
					</div>
					<hr>
					<h4>Bring your "A" game when going into an interview. With our system you will be prepared.</h4>
				</div><!-- /.column -->
			</div><!-- /.vertical center -->
		</div><!-- /.container -->
