


<div class="signup-container">
  <br>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </div>
  <% end %>
  <div class="sign-up" >
    <h1>Sign up</h1>
    <%= form_for @user, url: create_user_path do |f| %>
    <div class="form-label-text">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control", placeholder:"Full Name" %><br>
    </div>
      <div class="form-label-text">
        <%= f.label :email %>
    <%= f.email_field :email, class:"form-control", placeholder:"example@email.com" %><br>
      </div>
      <div class="form-label-text">
    <%= f.label :password %>
    <%= f.password_field :password, class:"form-control" %><br>
      </div>
      <div class="form-label-text">
<%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class:"form-control" %>
  </div><br>
    <%= f.submit "Sign up", class:"btn btn-primary"%>
    <% end %>

    </div>
</div>
