<div class="modal fade" id="newboss" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">Research Hiring Manager</h4>
            </div>
            <div class="modal-body">
                <%= form_for @boss, url: new_boss_path do |f| %>
                <%= f.label :email %>
                <%= f.text_field :email, class:"form-control" %>
                <%= f.label :company %>
                <%= f.collection_select :descomp_id, Descomp.all, :id, :company, {prompt: true}, class:"form-control" %><br>

                <%= f.submit "Research Hiring Manager", class:"btn btn-primary" %>
                <% end %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="newcomp" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">Research Company</h4>
            </div>
            <div class="modal-body">
                <%= form_for @descomp, url: new_company_path do |f| %>
                <%= f.label :company %>
                <%= f.text_field :company, class:"form-control" %>
                <%= f.label :url %>
                <%= f.text_field :url, class:"form-control" %>
                <%= f.submit "Research Company", class:"btn btn-primary" %>

                <% end %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<br>

<div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                Research Company and Hiring Manager</a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Generate and View My Resume</a>
        </li>
        <li role="presentation">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Polish up for your interview</a>
        </li>
        <li role="presentation">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Something</a>
        </li>
        <li role="presentation">
            <a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Something</a>
        </li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="container2">
                <div class="panel">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newcomp">1. Research Company</button><br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newboss">2. Research Hiring Manager</button><br>
                    <h2>Companies</h2>
                    Note: If the company or hiring manager you're researching does not have a strong internet presence, then results will be lacking.

                    <div class="row">
                      <% @descomps.each do |descomp| %>
                      <div class="text-center">
                    <div class="col-sm-6">
                      <div class="thumbnail">

                        <div class="wrapcompany">


                      <div class="col-sm-6">
                          <strong><u>Company</u></strong><br>
                          <%= descomp.company %><br>
                        <%= image_tag descomp.logo, class:"avatar" %><br>


                        </div>
                        <div class="col-sm-6">
                          <% descomp.bosses.each do |boss| %>
                          <strong><u>Hiring Manager</u></strong><br>
                          <% if boss.name.present? %>
                          <%= boss.name %><br>
                          <% else %>
                          <br>
                          <% end %>
                        <% if boss.twitter_avatar.present? %>
                        <%= image_tag boss.twitter_avatar, class:"avatar" %>
                        <% elsif %>

                        <% boss.github_avatar.present? %>
                        <%= image_tag boss.github_avatar, class:"avatar" %>
                        <% elsif %>

                        <% boss.angel_avatar.present? %>
                        <%= image_tag boss.angel_avatar, class:"avatar" %>
                        <% elsif %>

                        <% boss.about_avatar.present? %>
                        <%= image_tag boss.about_avatar, class:"avatar" %>
                        <% elsif %>

                        <% boss.gravatar_avatar.present? %>
                        <%= image_tag boss.gravatar_avatar, class:"avatar" %>
                        <% else %>
                        <%= image_tag "default_large.png", class:"avatar"  %>
                        <% end %><% end %>

                        </div>
                        </div>
                        <div class="caption">
                          <p><%= link_to "View Generated Profile", company_path(id: descomp.id), class:"btn btn-primary" %></p>
                        </div>
                      </div>
                    </div>
                    </div>
                    <% end %>
                  </div>
<% if false %>
                    <!-- <div class="listcompany">
                        <div class="companypicture">
                            <%= link_to company_path(id: descomp.id) do %>
                            <%= image_tag descomp.logo, class:"avatar" %>

                        </div>
                        <div class="companyprofile">

                            <%= descomp.company %>

                            <% end %>
                            <br>
                        </div>
                        <div class="bossprofile">
                            <div class="bosspicture">

                                <% descomp.bosses.each do |boss| %>

                                <% if boss.twitter_avatar.present? %>
                                <%= image_tag boss.twitter_avatar, class:"avatar" %>
                                <% elsif %>

                                <% boss.github_avatar.present? %>
                                <%= image_tag boss.github_avatar, class:"avatar" %>
                                <% elsif %>

                                <% boss.angel_avatar.present? %>
                                <%= image_tag boss.angel_avatar, class:"avatar" %>
                                <% elsif %>

                                <% boss.about_avatar.present? %>
                                <%= image_tag boss.about_avatar, class:"avatar" %>
                                <% elsif %>

                                <% boss.gravatar_avatar.present? %>
                                <%= image_tag boss.gravatar_avatar, class:"avatar" %>
                            <% else %>
                                <%= image_tag "default_large.png", class:"avatar"  %>
                                <% end %>
                            </div>
                            <div class="bossinfo">
                                <%= boss.email %>
                            </div>

                            <% end %>
                        </div>
                    </div> -->

<% end %>

                </div>
            </div>

        </div>

        <div href="#resume" role="tabpanel" class="tab-pane" id="profile">
            <div class="container">
                <div class="col-sm-6">
                    <% if @resumes.present? %>
                    <h2>Edit Resume</h2>
                    <%= form_for @editresume, url: edit_resume_path(id: @current_user.id), remote: true do |f| %>
                    <br><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Contact Information -
                                        <strong><%= @current_user.name %></strong>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="comp">
                                        <div class="col-sm-6">
                                            <%= f.label :address, "Street" %>
                                            <%= f.text_field :address, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :addresscity, "City" %>
                                            <%= f.text_field :addresscity, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :addressstate, "State" %>
                                            <%= f.text_field :addressstate, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :addresszip, "Zip Code" %>
                                            <%= f.text_field :addresszip, class:"form-control" %>
                                        </div>
                                    </div>
                                    <%= f.label :phone, "Telephone Number" %>
                                    <%= f.text_field :phone, class:"form-control" %>
                                    <%= f.label :website %>
                                    <%= f.text_field :website, class:"form-control" %>
                                    <%= f.label :linked %>
                                    <%= f.text_field :linked, class:"form-control" %>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading14">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                        Statements
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                <div class="panel-body">

                                    <%= f.label :value %>
                                    <%= f.text_area :value, class:"form-control" %>
                                    <%= f.label :objective %>
                                    <%= f.text_area :objective, class:"form-control" %>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed edu" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <%= render partial: 'resumes/edu' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-6">
                                            <%= f.label :school1, "High Shool or University" %>
                                            <%= f.text_field :school1, class:"form-control", placeholder: "Texas Tech University" %>
                                        </div>
                                        <div class="col-sm-6">
                                            <%= f.label :cdd1, "Diploma/Degree" %>
                                            <%= f.text_field :cdd1, class:"form-control", placeholder: "High School Diploma or Bachelors of Science in Civil Engineering" %>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="comp">
                                        <div class="col-sm-6">
                                            <%= f.label :school2, "High Shool or University" %>
                                            <%= f.text_field :school2, class:"form-control", placeholder: "Texas Tech University" %>
                                        </div>
                                        <div class="col-sm-6">
                                            <%= f.label :cdd2, "Diploma/Degree" %>
                                            <%= f.text_field :cdd2, class:"form-control", placeholder: "High School Diploma or Bachelors of Science in Civil Engineering" %>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="comp">
                                        <div class="col-sm-6">
                                            <%= f.label :school3, "High Shool or University" %>
                                            <%= f.text_field :school3, class:"form-control", placeholder: "Texas Tech University" %>
                                        </div>
                                        <div class="col-sm-6">
                                            <%= f.label :cdd3, "Diploma/Degree" %>
                                            <%= f.text_field :cdd3, class:"form-control", placeholder: "High School Diploma or Bachelors of Science in Civil Engineering" %>
                                        </div>
                                        <br>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed exp1" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <%= render partial: 'resumes/exp1' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp1, "Company (1)" %>
                                            <%= f.text_field :excomp1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos1, "Position (1)" %>
                                            <%= f.text_field :expos1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart1, "Start" %>
                                            <%= f.text_field :exstart1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend1, "End" %>
                                            <%= f.text_field :exend1, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos11about %>
                                        <%= f.text_field :expos11about, class:"form-control" %>
                                        <%= f.label :expos12about %>
                                        <%= f.text_field :expos12about, class:"form-control" %>
                                        <%= f.label :expos13about %>
                                        <%= f.text_field :expos13about, class:"form-control" %>
                                        <%= f.label :expos14about %>
                                        <%= f.text_field :expos14about, class:"form-control" %>
                                        <%= f.label :expos15about %>
                                        <%= f.text_field :expos15about, class:"form-control" %>
                                        <%= f.label :excomploc1 %>
                                        <%= f.text_field :excomploc1, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h4 class="panel-title">
                                    <a class="collapsed exp2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        <%= render partial: 'resumes/exp2' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp2, "Company (2)" %>
                                            <%= f.text_field :excomp2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos2, "Position (2)" %>
                                            <%= f.text_field :expos2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart2, "Start" %>
                                            <%= f.text_field :exstart2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend2, "End" %>
                                            <%= f.text_field :exend2, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos21about %>
                                        <%= f.text_field :expos21about, class:"form-control" %>
                                        <%= f.label :expos22about %>
                                        <%= f.text_field :expos22about, class:"form-control" %>
                                        <%= f.label :expos23about %>
                                        <%= f.text_field :expos23about, class:"form-control" %>
                                        <%= f.label :expos24about %>
                                        <%= f.text_field :expos24about, class:"form-control" %>
                                        <%= f.label :expos25about %>
                                        <%= f.text_field :expos25about, class:"form-control" %>
                                        <%= f.label :excomploc2 %>
                                        <%= f.text_field :excomploc2, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h4 class="panel-title">
                                    <a class="collapsed exp3" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <%= render partial: 'resumes/exp3' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp3, "Company (3)" %>
                                            <%= f.text_field :excomp3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos3, "Position (3)" %>
                                            <%= f.text_field :expos3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart3, "Start" %>
                                            <%= f.text_field :exstart3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend3, "End" %>
                                            <%= f.text_field :exend3, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos31about %>
                                        <%= f.text_field :expos31about, class:"form-control" %>
                                        <%= f.label :expos32about %>
                                        <%= f.text_field :expos32about, class:"form-control" %>
                                        <%= f.label :expos33about %>
                                        <%= f.text_field :expos33about, class:"form-control" %>
                                        <%= f.label :expos34about %>
                                        <%= f.text_field :expos34about, class:"form-control" %>
                                        <%= f.label :expos35about %>
                                        <%= f.text_field :expos35about, class:"form-control" %>
                                        <%= f.label :excomploc3 %>
                                        <%= f.text_field :excomploc3, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading10">
                                <h4 class="panel-title">
                                    <a class="collapsed exp4" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                        <%= render partial: 'resumes/exp4' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp4, "Company (1)" %>
                                            <%= f.text_field :excomp4, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos4, "Position (1)" %>
                                            <%= f.text_field :expos4, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart4, "Start" %>
                                            <%= f.text_field :exstart4, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend4, "End" %>
                                            <%= f.text_field :exend4, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos41about %>
                                        <%= f.text_field :expos41about, class:"form-control" %>
                                        <%= f.label :expos42about %>
                                        <%= f.text_field :expos42about, class:"form-control" %>
                                        <%= f.label :expos43about %>
                                        <%= f.text_field :expos43about, class:"form-control" %>
                                        <%= f.label :expos44about %>
                                        <%= f.text_field :expos44about, class:"form-control" %>
                                        <%= f.label :expos45about %>
                                        <%= f.text_field :expos45about, class:"form-control" %>
                                        <%= f.label :excomploc4 %>
                                        <%= f.text_field :excomploc4, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading11">
                                <h4 class="panel-title">
                                    <a class="collapsed exp5" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                        <%= render partial: 'resumes/exp5' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp5, "Company (2)" %>
                                            <%= f.text_field :excomp5, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos5, "Position (2)" %>
                                            <%= f.text_field :expos5, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart5, "Start" %>
                                            <%= f.text_field :exstart5, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend5, "End" %>
                                            <%= f.text_field :exend5, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos51about %>
                                        <%= f.text_field :expos51about, class:"form-control" %>
                                        <%= f.label :expos52about %>
                                        <%= f.text_field :expos52about, class:"form-control" %>
                                        <%= f.label :expos53about %>
                                        <%= f.text_field :expos53about, class:"form-control" %>
                                        <%= f.label :expos54about %>
                                        <%= f.text_field :expos54about, class:"form-control" %>
                                        <%= f.label :expos55about %>
                                        <%= f.text_field :expos55about, class:"form-control" %>
                                        <%= f.label :excomploc5 %>
                                        <%= f.text_field :excomploc5, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading12">
                                <h4 class="panel-title">
                                    <a class="collapsed exp6" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                        <%= render partial: 'resumes/exp6' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp6, "Company (3)" %>
                                            <%= f.text_field :excomp6, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos6, "Position (3)" %>
                                            <%= f.text_field :expos6, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart6, "Start" %>
                                            <%= f.text_field :exstart6, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend6, "End" %>
                                            <%= f.text_field :exend6, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos61about %>
                                        <%= f.text_field :expos61about, class:"form-control" %>
                                        <%= f.label :expos62about %>
                                        <%= f.text_field :expos62about, class:"form-control" %>
                                        <%= f.label :expos63about %>
                                        <%= f.text_field :expos63about, class:"form-control" %>
                                        <%= f.label :expos64about %>
                                        <%= f.text_field :expos64about, class:"form-control" %>
                                        <%= f.label :expos65about %>
                                        <%= f.text_field :expos65about, class:"form-control" %>
                                        <%= f.label :excomploc6 %>
                                        <%= f.text_field :excomploc6, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading6">
                                <h4 class="panel-title">
                                    <a class="collapsed int1" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        <%= render partial: 'resumes/int1' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :intcom1, "Internship" %>
                                            <%= f.text_field :intcom1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :intpos1, "Postion" %>
                                            <%= f.text_field :intpos1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intstart1, "Start" %>
                                            <%= f.text_field :intstart1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intend1, "End" %>
                                            <%= f.text_field :intend1, class:"form-control" %>
                                        </div>
                                        <%= f.label :intcomp11about %>
                                        <%= f.text_field :intcomp11about, class:"form-control" %>
                                        <%= f.label :intcomp12about %>
                                        <%= f.text_field :intcomp12about, class:"form-control" %>
                                        <%= f.label :intcomp13about %>
                                        <%= f.text_field :intcomp13about, class:"form-control" %>
                                        <%= f.label :intcomp14about %>
                                        <%= f.text_field :intcomp14about, class:"form-control" %>
                                        <%= f.label :intcomp15about %>
                                        <%= f.text_field :intcomp15about, class:"form-control" %>
                                        <%= f.label :intcomploc1 %>
                                        <%= f.text_field :intcomploc1, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading7">
                                <h4 class="panel-title">
                                    <a class="collapsed int2" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                        <%= render partial: 'resumes/int2' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :intcomp2, "Internship" %>
                                            <%= f.text_field :intcomp2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :intpos2, "Position" %>
                                            <%= f.text_field :intpos2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intstart2, "Start" %>
                                            <%= f.text_field :intstart2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intend2, "End" %>
                                            <%= f.text_field :intend2, class:"form-control" %>
                                        </div>
                                        <%= f.label :intcomp21about %>
                                        <%= f.text_field :intcomp21about, class:"form-control" %>
                                        <%= f.label :intcomp22about %>
                                        <%= f.text_field :intcomp22about, class:"form-control" %>
                                        <%= f.label :intcomp23about %>
                                        <%= f.text_field :intcomp23about, class:"form-control" %>
                                        <%= f.label :intcomp24about %>
                                        <%= f.text_field :intcomp24about, class:"form-control" %>
                                        <%= f.label :intcomp25about %>
                                        <%= f.text_field :intcomp25about, class:"form-control" %>
                                        <%= f.label :intcomploc2 %>
                                        <%= f.text_field :intcomploc2, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading8">
                                <h4 class="panel-title">
                                    <a class="collapsed int3" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        <%= render partial: 'resumes/int3' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :intcomp3, "Internship" %>
                                            <%= f.text_field :intcomp3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :intpos3, "Position" %>
                                            <%= f.text_field :intpos3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intstart3, "Start" %>
                                            <%= f.text_field :intstart3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intend3, "End" %>
                                            <%= f.text_field :intend3, class:"form-control" %>
                                        </div>
                                        <%= f.label :intcomp31about %>
                                        <%= f.text_field :intcomp31about, class:"form-control" %>
                                        <%= f.label :intcomp32about %>
                                        <%= f.text_field :intcomp32about, class:"form-control" %>
                                        <%= f.label :intcomp33about %>
                                        <%= f.text_field :intcomp33about, class:"form-control" %>
                                        <%= f.label :intcomp34about %>
                                        <%= f.text_field :intcomp34about, class:"form-control" %>
                                        <%= f.label :intcomp35about %>
                                        <%= f.text_field :intcomp35about, class:"form-control" %>
                                        <%= f.label :intcomploc3 %>
                                        <%= f.text_field :intcomploc3, class:"form-control" %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading9">
                                <h4 class="panel-title">
                                    <a class="collapsed cert" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                        <%= render partial: 'resumes/cert' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                <div class="panel-body">

                                    <%= f.label :cert1, "Certification (1)" %>
                                    <%= f.text_field :cert1, class:"form-control" %>
                                    <%= f.label :cert2, "Certification (2)" %>
                                    <%= f.text_field :cert2, class:"form-control" %>
                                    <%= f.label :cert3, "Certification (3)" %>
                                    <%= f.text_field :cert3, class:"form-control" %>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading13">
                                <h4 class="panel-title">
                                    <a class="collapsed skill" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                        <%= render partial: 'resumes/skill' %>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                <div class="panel-body">

                                    <%= f.label :skills1, "Certification (1)" %>
                                    <%= f.text_field :skills1, class:"form-control" %>
                                    <%= f.label :skills2, "Certification (2)" %>
                                    <%= f.text_field :skills2, class:"form-control" %>
                                    <%= f.label :skills3, "Certification (3)" %>
                                    <%= f.text_field :skills3, class:"form-control" %>
                                    <%= f.label :skills4, "Certification (1)" %>
                                    <%= f.text_field :skills4, class:"form-control" %>
                                    <%= f.label :skills5, "Certification (2)" %>
                                    <%= f.text_field :skills5, class:"form-control" %>

                                </div>
                            </div>
                        </div>
                    </div>

                    <%= f.submit "Edit Resume", class:"btn btn-primary" %>

                    <% end %>
                <% else %>
                    <h2>Create Resume</h2>
                    <%= form_for @resume, url: new_resume_path do |f| %>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Contact Information -
                                        <strong><%= @current_user.name %></strong>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="comp">
                                        <div class="col-sm-6">
                                            <%= f.label :address, "Street" %>
                                            <%= f.text_field :address, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :addresscity, "City" %>
                                            <%= f.text_field :addresscity, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :addressstate, "State" %>
                                            <%= f.text_field :addressstate, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :addresszip, "Zip Code" %>
                                            <%= f.text_field :addresszip, class:"form-control" %>
                                        </div>
                                    </div>
                                    <%= f.label :phone, "Telephone Number" %>
                                    <%= f.text_field :phone, class:"form-control" %>
                                    <%= f.label :website %>
                                    <%= f.text_field :website, class:"form-control" %>
                                    <%= f.label :linked %>
                                    <%= f.text_field :linked, class:"form-control" %>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading14">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                        Statements
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                <div class="panel-body">

                                    <%= f.label :value %>
                                    <%= f.text_area :value, class:"form-control" %>
                                    <%= f.label :objective %>
                                    <%= f.text_area :objective, class:"form-control" %>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Education
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-6">
                                            <%= f.label :school1, "High Shool or University" %>
                                            <%= f.text_field :school1, class:"form-control", placeholder: "Texas Tech University" %>
                                        </div>
                                        <div class="col-sm-6">
                                            <%= f.label :cdd1, "Diploma/Degree" %>
                                            <%= f.text_field :cdd1, class:"form-control", placeholder: "High School Diploma or Bachelors of Science in Civil Engineering" %>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="comp">
                                        <div class="col-sm-6">
                                            <%= f.label :school2, "High Shool or University" %>
                                            <%= f.text_field :school2, class:"form-control", placeholder: "Texas Tech University" %>
                                        </div>
                                        <div class="col-sm-6">
                                            <%= f.label :cdd2, "Diploma/Degree" %>
                                            <%= f.text_field :cdd2, class:"form-control", placeholder: "High School Diploma or Bachelors of Science in Civil Engineering" %>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="comp">
                                        <div class="col-sm-6">
                                            <%= f.label :school3, "High Shool or University" %>
                                            <%= f.text_field :school3, class:"form-control", placeholder: "Texas Tech University" %>
                                        </div>
                                        <div class="col-sm-6">
                                            <%= f.label :cdd3, "Diploma/Degree" %>
                                            <%= f.text_field :cdd3, class:"form-control", placeholder: "High School Diploma or Bachelors of Science in Civil Engineering" %>
                                        </div>
                                        <br>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Experience
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp1, "Company (1)" %>
                                            <%= f.text_field :excomp1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos1, "Position (1)" %>
                                            <%= f.text_field :expos1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart1, "Start" %>
                                            <%= f.text_field :exstart1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend1, "End" %>
                                            <%= f.text_field :exend1, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos11about %>
                                        <%= f.text_field :expos11about, class:"form-control" %>
                                        <%= f.label :expos12about %>
                                        <%= f.text_field :expos12about, class:"form-control" %>
                                        <%= f.label :expos13about %>
                                        <%= f.text_field :expos13about, class:"form-control" %>
                                        <%= f.label :expos14about %>
                                        <%= f.text_field :expos14about, class:"form-control" %>
                                        <%= f.label :expos15about %>
                                        <%= f.text_field :expos15about, class:"form-control" %>
                                        <%= f.label :excomploc1 %>
                                        <%= f.text_field :excomploc1, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        Experience
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp2, "Company (2)" %>
                                            <%= f.text_field :excomp2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos2, "Position (2)" %>
                                            <%= f.text_field :expos2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart2, "Start" %>
                                            <%= f.text_field :exstart2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend2, "End" %>
                                            <%= f.text_field :exend2, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos21about %>
                                        <%= f.text_field :expos21about, class:"form-control" %>
                                        <%= f.label :expos22about %>
                                        <%= f.text_field :expos22about, class:"form-control" %>
                                        <%= f.label :expos23about %>
                                        <%= f.text_field :expos23about, class:"form-control" %>
                                        <%= f.label :expos24about %>
                                        <%= f.text_field :expos24about, class:"form-control" %>
                                        <%= f.label :expos25about %>
                                        <%= f.text_field :expos25about, class:"form-control" %>
                                        <%= f.label :excomploc2 %>
                                        <%= f.text_field :excomploc2, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        Experience
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp3, "Company (3)" %>
                                            <%= f.text_field :excomp3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos3, "Position (3)" %>
                                            <%= f.text_field :expos3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart3, "Start" %>
                                            <%= f.text_field :exstart3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend3, "End" %>
                                            <%= f.text_field :exend3, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos31about %>
                                        <%= f.text_field :expos31about, class:"form-control" %>
                                        <%= f.label :expos32about %>
                                        <%= f.text_field :expos32about, class:"form-control" %>
                                        <%= f.label :expos33about %>
                                        <%= f.text_field :expos33about, class:"form-control" %>
                                        <%= f.label :expos34about %>
                                        <%= f.text_field :expos34about, class:"form-control" %>
                                        <%= f.label :expos35about %>
                                        <%= f.text_field :expos35about, class:"form-control" %>
                                        <%= f.label :excomploc3 %>
                                        <%= f.text_field :excomploc3, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading10">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                        Experience
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp4, "Company (1)" %>
                                            <%= f.text_field :excomp4, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos4, "Position (1)" %>
                                            <%= f.text_field :expos4, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart4, "Start" %>
                                            <%= f.text_field :exstart4, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend4, "End" %>
                                            <%= f.text_field :exend4, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos41about %>
                                        <%= f.text_field :expos41about, class:"form-control" %>
                                        <%= f.label :expos42about %>
                                        <%= f.text_field :expos42about, class:"form-control" %>
                                        <%= f.label :expos43about %>
                                        <%= f.text_field :expos43about, class:"form-control" %>
                                        <%= f.label :expos44about %>
                                        <%= f.text_field :expos44about, class:"form-control" %>
                                        <%= f.label :expos45about %>
                                        <%= f.text_field :expos45about, class:"form-control" %>
                                        <%= f.label :excomploc4 %>
                                        <%= f.text_field :excomploc4, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading11">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                        Experience
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp5, "Company (2)" %>
                                            <%= f.text_field :excomp5, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos5, "Position (2)" %>
                                            <%= f.text_field :expos5, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart5, "Start" %>
                                            <%= f.text_field :exstart5, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend5, "End" %>
                                            <%= f.text_field :exend5, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos51about %>
                                        <%= f.text_field :expos51about, class:"form-control" %>
                                        <%= f.label :expos52about %>
                                        <%= f.text_field :expos52about, class:"form-control" %>
                                        <%= f.label :expos53about %>
                                        <%= f.text_field :expos53about, class:"form-control" %>
                                        <%= f.label :expos54about %>
                                        <%= f.text_field :expos54about, class:"form-control" %>
                                        <%= f.label :expos55about %>
                                        <%= f.text_field :expos55about, class:"form-control" %>
                                        <%= f.label :excomploc5 %>
                                        <%= f.text_field :excomploc5, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading12">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                        Experience
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :excomp6, "Company (3)" %>
                                            <%= f.text_field :excomp6, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :expos6, "Position (3)" %>
                                            <%= f.text_field :expos6, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exstart6, "Start" %>
                                            <%= f.text_field :exstart6, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :exend6, "End" %>
                                            <%= f.text_field :exend6, class:"form-control" %>
                                        </div>
                                        <%= f.label :expos61about %>
                                        <%= f.text_field :expos61about, class:"form-control" %>
                                        <%= f.label :expos62about %>
                                        <%= f.text_field :expos62about, class:"form-control" %>
                                        <%= f.label :expos63about %>
                                        <%= f.text_field :expos63about, class:"form-control" %>
                                        <%= f.label :expos64about %>
                                        <%= f.text_field :expos64about, class:"form-control" %>
                                        <%= f.label :expos65about %>
                                        <%= f.text_field :expos65about, class:"form-control" %>
                                        <%= f.label :excomploc6 %>
                                        <%= f.text_field :excomploc6, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading6">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        Internship
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :intcom1, "Internship" %>
                                            <%= f.text_field :intcom1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :intpos1, "Postion" %>
                                            <%= f.text_field :intpos1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intstart1, "Start" %>
                                            <%= f.text_field :intstart1, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intend1, "End" %>
                                            <%= f.text_field :intend1, class:"form-control" %>
                                        </div>
                                        <%= f.label :intcomp11about %>
                                        <%= f.text_field :intcomp11about, class:"form-control" %>
                                        <%= f.label :intcomp12about %>
                                        <%= f.text_field :intcomp12about, class:"form-control" %>
                                        <%= f.label :intcomp13about %>
                                        <%= f.text_field :intcomp13about, class:"form-control" %>
                                        <%= f.label :intcomp14about %>
                                        <%= f.text_field :intcomp14about, class:"form-control" %>
                                        <%= f.label :intcomp15about %>
                                        <%= f.text_field :intcomp15about, class:"form-control" %>
                                        <%= f.label :intcomploc1 %>
                                        <%= f.text_field :intcomploc1, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading7">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                        Internship
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :intcomp2, "Internship" %>
                                            <%= f.text_field :intcomp2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :intpos2, "Position" %>
                                            <%= f.text_field :intpos2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intstart2, "Start" %>
                                            <%= f.text_field :intstart2, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intend2, "End" %>
                                            <%= f.text_field :intend2, class:"form-control" %>
                                        </div>
                                        <%= f.label :intcomp21about %>
                                        <%= f.text_field :intcomp21about, class:"form-control" %>
                                        <%= f.label :intcomp22about %>
                                        <%= f.text_field :intcomp22about, class:"form-control" %>
                                        <%= f.label :intcomp23about %>
                                        <%= f.text_field :intcomp23about, class:"form-control" %>
                                        <%= f.label :intcomp24about %>
                                        <%= f.text_field :intcomp24about, class:"form-control" %>
                                        <%= f.label :intcomp25about %>
                                        <%= f.text_field :intcomp25about, class:"form-control" %>
                                        <%= f.label :intcomploc2 %>
                                        <%= f.text_field :intcomploc2, class:"form-control" %>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading8">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                        Internship
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                <div class="panel-body">

                                    <div class="comp">
                                        <div class="col-sm-4">
                                            <%= f.label :intcomp3, "Internship" %>
                                            <%= f.text_field :intcomp3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-4">
                                            <%= f.label :intpos3, "Position" %>
                                            <%= f.text_field :intpos3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intstart3, "Start" %>
                                            <%= f.text_field :intstart3, class:"form-control" %>
                                        </div>
                                        <div class="col-sm-2">
                                            <%= f.label :intend3, "End" %>
                                            <%= f.text_field :intend3, class:"form-control" %>
                                        </div>
                                        <%= f.label :intcomp31about %>
                                        <%= f.text_field :intcomp31about, class:"form-control" %>
                                        <%= f.label :intcomp32about %>
                                        <%= f.text_field :intcomp32about, class:"form-control" %>
                                        <%= f.label :intcomp33about %>
                                        <%= f.text_field :intcomp33about, class:"form-control" %>
                                        <%= f.label :intcomp34about %>
                                        <%= f.text_field :intcomp34about, class:"form-control" %>
                                        <%= f.label :intcomp35about %>
                                        <%= f.text_field :intcomp35about, class:"form-control" %>
                                        <%= f.label :intcomploc3 %>
                                        <%= f.text_field :intcomploc3, class:"form-control" %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading9">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                        Certifications
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                <div class="panel-body">

                                    <%= f.label :cert1, "Certification (1)" %>
                                    <%= f.text_field :cert1, class:"form-control" %>
                                    <%= f.label :cert2, "Certification (2)" %>
                                    <%= f.text_field :cert2, class:"form-control" %>
                                    <%= f.label :cert3, "Certification (3)" %>
                                    <%= f.text_field :cert3, class:"form-control" %>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading13">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                        Skills
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                <div class="panel-body">

                                    <%= f.label :skills1, "Certification (1)" %>
                                    <%= f.text_field :skills1, class:"form-control" %>
                                    <%= f.label :skills2, "Certification (2)" %>
                                    <%= f.text_field :skills2, class:"form-control" %>
                                    <%= f.label :skills3, "Certification (3)" %>
                                    <%= f.text_field :skills3, class:"form-control" %>
                                    <%= f.label :skills4, "Certification (1)" %>
                                    <%= f.text_field :skills4, class:"form-control" %>
                                    <%= f.label :skills5, "Certification (2)" %>
                                    <%= f.text_field :skills5, class:"form-control" %>

                                </div>
                            </div>
                        </div>
                    </div>

                    <%= f.submit "Create Resume", class:"btn btn-primary" %>

                    <% end %>
                    <% end %>
                </div>
                <div class="col-sm-6">
                    <h2>My Resume</h2>
                    <div class="pdfcontainer">
                        <% if @resumes.present? %>
                        <% @resumes.each do |resume| %>
                        <%= link_to "#{@current_user.name} Resume", resume_path(id: resume.id) %><br>
                        <iframe src=<%= resume_path(id: resume.id) %> width="100%" height="800" style="border: none;"></iframe>
                        <% end %>
                    <% else %>
                        <h2 class="alert">You currently do not have a resume on record. To create one use the form on the left.</h2>
                        <% end %>
                    </div>

                </div>
            </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="messages">
            <h2>Your suit might need to be cleaned...
                <small>Here are some dry cleaners near you</small>
            </h2>

            <div class="map">
                <div id="main_map"></div>
                <% if @cleaners.nil? %>
                Input address
            <% else %>

                <script type="text/javascript">

                    var mymap = L.map('main_map').setView([
                        <%= @user_location["lat"] %>, <%= @user_location["lon"] %>
                    ], 13);

                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ3JlZW51cCIsImEiOiJjaXFudW4wNjcwMWQ1Zm9ubjQ0eHB6ejU5In0.8U3wnPsvgv9fAV4VnC2apA', {
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery  <a href="http://mapbox.com">Mapbox</a>',
                        maxZoom: 18,
                        id: 'greenup.0m0k3acb',
                        accessToken: 'pk.eyJ1IjoiZ3JlZW51cCIsImEiOiJjaXFudW4wNjcwMWQ1Zm9ubjQ0eHB6ejU5In0.8U3wnPsvgv9fAV4VnC2apA'
                    }).addTo(mymap);

                    L.marker([<%= @user_location["lat"] %>, <%= @user_location["lon"] %>]).addTo(mymap).bindPopup("You Are Here");
                    <% @cleaners.each do |venue| %>
                    L.marker([<%= venue["location"]["lat"]%>, <%= venue["location"]["lng"]%>]).addTo(mymap).bindPopup("<%= venue[" name "] %>");
                    <% end %>
                </script>
                <% end %>
            </div><br><br>
            <u>
                <h2>
                    <strong>51 Questions you should ask during an interview</strong>
                </h2>
            </u>

            <p>You probably already know that an interview isn't just a chance for a hiring manager to grill you with interview questions</a>
            it's your opportunity to sniff out whether a job is the right fit for you.&nbsp;Which means: It's important to go in with some questions. What do you want to know about the position? The company? The department? The team?</p>
        <p>To get you thinking, we've put together a list of key questions to ask in your interview. We definitely don't suggest asking all of them rapid-firesome of this stuff will certainly be covered during the course of your discussion, and you can
            weave in other questions as you go.</p>
        <p>But when the inevitable, "So, do you have any questions for us?" part of the interview comes? Use this list to make sure you've covered all your bases.</p>
        <p></p>
        <h2>
            <strong>The Job</strong>
        </h2>
        <p></p>
        <p>
            <em>First, make sure you have a handle on exactly what the day-to-day responsibilities of the job will beboth now and in the future.</em>
        </p>
        <p></p>
        <p>1. What does a typical day look like?</p>
        <p></p>
        <p></p>
        <p>2. What are the most immediate projects that need to be addressed?</p>
        <p></p>
        <p></p>
        <p>3. Can you show me examples of projects I'd be working on?</p>
        <p></p>
        <p></p>
        <p>4. What are the skills and experiences youre looking for in an ideal candidate?</p>
        <p></p>
        <p></p>
        <p>5. What attributes does someone need to have in order to be really successful in this position?</p>
        <p></p>
        <p></p>
        <p>6. What types of skills is the team missing that youre looking to fill with a new hire?</p>
        <p></p>
        <p></p>
        <p>7. What are the biggest challenges that someone in this position would face?</p>
        <p></p>
        <p></p>
        <p>8. What sort of budget would I be working with?</p>
        <p></p>
        <p></p>
        <p>9. Is this a new role that has been created?</p>
        <p></p>
        <p></p>
        <p>10. Do you expect the main responsibilities for this position to change in the next six months to a year?</p>
        <p></p>
        <p></p>
        <h2>
            <strong>Training and Professional Development</strong>
        </h2>
        <p></p>
        <p>
            <em>Think of each new job not just as a job, but as the next step on your path to career success. Will this position help you get there?</em>
        </p>
        <p>11. How will I be trained?</p>
        <p></p>
        <p>12. What training programs are available to your employees?</p>
        <p></p>
        <p></p>
        <p>13. Are there opportunities for advancement or professional development?</p>
        <p></p>
        <p></p>
        <p>14. Would I be able to represent the company at industry conferences?</p>
        <p></p>
        <p></p>
        <p>15. Where is the last person who held this job moving on to?</p>
        <p></p>
        <p></p>
        <p>16. Where have successful employees previously in this position progressed to?</p>
        <p></p>
        <p></p>
        <h2>
            <strong>Your Performance</strong>
        </h2>
        <p></p>
        <p>
            <em>Make sure you're setting yourself up for success by learning up front the goals of the position and how your work will be evaluated.</em>
        </p>
        <p>
            <i></i>17. What are the most important things youd like to see someone accomplish in the first 30, 60, and 90 days on the job?</p>
        <p>18. What are the performance expectations of this position over the first 12 months?</p>
        <p></p>
        <p>19. What is the performance review process like here? How often would I be formally reviewed?</p>
        <p></p>
        <p></p>
        <p>20. What metrics or goals will my performance be evaluated against?</p>
        <p></p>
        <p></p>
        <h2>
            <strong>Interviewer</strong>
        </h2>
        <p></p>
        <p>
            <em>Asking questions of the interviewer shows that you're interested in him or her as a personand that's a great way to build rapport.</em>
        </p>
        <p>21. How long have you been with the company?</p>
        <p>22. Has your role changed since you've been here?</p>
        <p></p>
        <p>23. What did you do before this?</p>
        <p></p>
        <p></p>
        <p>24. Why did you come to this company?</p>
        <p></p>
        <p></p>
        <p>25. Whats your favorite part about working here?</p>
        <p></p>
        <p></p>
        <h2>
            <strong>The Company</strong>
        </h2>
        <p></p>
        <p>
            <em>Because you're not just working for one boss or one department, you're working for the company as a whole.</em>
        </p>
        <p>
            <i></i>26. I've read about the company's founding, but can you tell me more about ___?</p>
        <p></p>
        <p>27. Where do you see this company in the next few years?</p>
        <p></p>
        <p></p>
        <p>28. What can you tell me about your new products or plans for growth?</p>
        <p></p>
        <p></p>
        <p>29. What are the current goals that the company is focused on,&nbsp;and how does this team work to support hitting those goals?</p>
        <p></p>
        <p>30. What gets you most excited about the company's future?</p>
        <p></p>
        <h2>The Team</h2>
        <p></p>
        <p>
            <em>The people you work with day in and day out can really make or break your work life. Ask some questions to uncover whether it's the right team for you.</em>
        </p>
        <p>31. Can you tell me about the team Ill be working with?</p>
        <p></p>
        <p>32. Who will I work with most closely?</p>
        <p></p>
        <p></p>
        <p>33. Who will I report to directly?</p>
        <p></p>
        <p></p>
        <p>34. Can you tell me about my direct reports? What are their strengths and the team's biggest challenges?</p>
        <p></p>
        <p></p>
        <p>35. Do you expect to hire more people in this department in the next&nbsp;six&nbsp;months?</p>
        <p></p>
        <p></p>
        <p>36. Which other departments work most closely with this one?</p>
        <p></p>
        <p></p>
        <p>37. What are the common career paths in this department?</p>
        <p></p>
        <p></p>
        <h2>
            <strong>The Culture</strong>
        </h2>
        <p></p>
        <p>
            <em>Is the office buttoned-up conservative or a fly-by-the-seat-of-your-pants kind of place? Learn the subtle, but oh-so-important, aspects of company culture.</em>
        </p>
        <p>38. What is the company and team culture like?</p>
        <p>39. How would you describe the work environment&nbsp;hereis the work typically&nbsp;collaborative&nbsp;or&nbsp;more independent?</p>
        <p></p>
        <p>40. Can you tell me about the last team event you did together?</p>
        <p></p>
        <p></p>
        <p>41. Is there a formal mission statement or company values? (Note: Make sure this isn't Google-able!)</p>
        <p></p>
        <p></p>
        <p>42. What's your favorite office tradition?</p>
        <p></p>
        <p></p>
        <p>43. What do you and the team usually do for lunch?</p>
        <p></p>
        <p></p>
        <p>44. Does anyone on the team hang out outside the office?</p>
        <p></p>
        <p></p>
        <p>45. Do you ever do joint events with other companies or departments?</p>
        <p></p>
        <p></p>
        <p>46. What's different about working here than anywhere else you've worked?</p>
        <p></p>
        <p></p>
        <p>47. How has the company changed since you joined?</p>
        <p></p>
        <p></p>
        <h2>
            <strong>Next Steps</strong>
        </h2>
        <p></p>
        <p>
            <em>Before you leave, make sure the interviewer has all of the information he or she needs and that you're clear on the next steps by asking these questions.</em>
        </p>
        <p>48. Is there anything that concerns you about my background being a fit for this role?</p>
        <p></p>
        <p>49. What are the next steps in the interview process?</p>
        <p></p>
        <p></p>
        <p>50. Is there anything else I can provide you with that would be helpful?</p>
        <p></p>
        <p>51. Can I answer any final questions for you?</p>

    </div>
    <div role="tabpanel" class="tab-pane" id="settings"></div>

    <div role="tabpanel" class="tab-pane" id="settings2">
        put shit here
    </div>

</div>

</div>
