<div class="modal fade" id="item1-services" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">New Resume</h4>
            </div>
            <div class="modal-body">
                <%= form_for @resume, url: new_resume_path do |f| %>
                <%= f.label :address, "Home Address" %>
                <%= f.text_field :address, class:"form-control" %>
                <%= f.label :phone, "Telephone Number" %>
                <%= f.text_field :phone, class:"form-control" %>
                <%= f.label :school1, "High Shool or University" %>
                <%= f.text_field :school1, class:"form-control", placeholder: "Texas Tech University" %>
                <%= f.label :school2, "University" %>
                <%= f.text_field :school2, class:"form-control" %>
                <%= f.label :school3, "University" %>
                <%= f.text_field :school3, class:"form-control" %>
                <%= f.label :cdd1, "Diploma/Degree" %>
                <%= f.text_field :cdd1, class:"form-control", placeholder: "High School Diploma or Bachelors of Science in Civil Engineering" %>
                <%= f.label :cdd2, "Diploma/Degree" %>
                <%= f.text_field :cdd2, class:"form-control" %>
                <%= f.label :cdd3, "Diploma/Degree" %>
                <%= f.text_field :cdd3, class:"form-control" %>
                <%= f.label :excomp1, "Company (1)" %>
                <%= f.text_field :excomp1, class:"form-control" %>
                <%= f.label :excomp2, "Company (2)" %>
                <%= f.text_field :excomp2, class:"form-control" %>
                <%= f.label :excomp3, "Company (3)" %>
                <%= f.text_field :excomp3, class:"form-control" %>
                <%= f.label :expos1, "Position (1)" %>
                <%= f.text_field :expos1, class:"form-control" %>
                <%= f.label :expos2, "Position (2)" %>
                <%= f.text_field :expos2, class:"form-control" %>
                <%= f.label :expos3, "Position (3)" %>
                <%= f.text_field :expos3, class:"form-control" %>
                <%= f.label :exstart1, "Company (1) Start Date" %>
                <%= f.text_field :exstart1, class:"form-control", placeholder: "May 2013" %>
                <%= f.label :exstart2, "Company (2) Start Date" %>
                <%= f.text_field :exstart2, class:"form-control" %>
                <%= f.label :exstart3, "Company (3) Start Date" %>
                <%= f.text_field :exstart3, class:"form-control" %>
                <%= f.label :exend1, "Company (1) End Date" %>
                <%= f.text_field :exend1, class:"form-control", placeholder: "May 2016 or Present" %>
                <%= f.label :exend2, "Company (2) End Date" %>
                <%= f.text_field :exend2, class:"form-control" %>
                <%= f.label :exend3, "Company (3) End Date" %>
                <%= f.text_field :exend3, class:"form-control" %>
                <%= f.label :intcom1, "Internship Company (1)" %>
                <%= f.text_field :intcom1, class:"form-control" %>
                <%= f.label :intcomp2, "Internship Company (2)" %>
                <%= f.text_field :intcomp2, class:"form-control" %>
                <%= f.label :intcomp3, "Internship Company (3)" %>
                <%= f.text_field :intcomp3, class:"form-control" %>
                <%= f.label :intstart1, "Internship Company (1) Start Date" %>
                <%= f.text_field :intstart1, class:"form-control" %>
                <%= f.label :intstart2, "Internship Company (2) Start Date" %>
                <%= f.text_field :intstart2, class:"form-control" %>
                <%= f.label :intstart3, "Internship Company (3) Start Date" %>
                <%= f.text_field :intstart3, class:"form-control" %>
                <%= f.label :intend1, "Internship Company (3) End Date" %>
                <%= f.text_field :intend1, class:"form-control" %>
                <%= f.label :intend2, "Internship Company (3) End Date" %>
                <%= f.text_field :intend2, class:"form-control" %>
                <%= f.label :intend3, "Internship Company (3) End Date" %>
                <%= f.text_field :intend3, class:"form-control" %>
                <%= f.label :cert1, "Certification (1)" %>
                <%= f.text_field :cert1, class:"form-control" %>
                <%= f.label :cert2, "Certification (2)" %>
                <%= f.text_field :cert2, class:"form-control" %>
                <%= f.label :cert3, "Certification (3)" %>
                <%= f.text_field :cert3, class:"form-control" %>
                <%= f.submit "Create Resume", class:"btn btn-primary" %>
                <% end %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="newboss" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">New Boss</h4>
            </div>
            <div class="modal-body">
                <%= form_for @boss, url: new_boss_path do |f| %>
                <%= f.label :email %>
                <%= f.text_field :email, class:"form-control" %>
                <%= f.label :company %>
                <%= f.collection_select :descomp_id, Descomp.all, :id, :company, {prompt: true}, class:"form-control" %><br>

                <%= f.submit "New Boss", class:"btn btn-primary" %>
                <% end %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="newcomp" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">New Company</h4>
            </div>
            <div class="modal-body">
                <%= form_for @descomp, url: new_company_path do |f| %>
                <%= f.label :company %>
                <%= f.text_field :company, class:"form-control" %>
                <%= f.label :url %>
                <%= f.text_field :url, class:"form-control" %>
                <%= f.submit "New Company", class:"btn btn-primary" %>

                <% end %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<br>






<div class="container">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab"> <%= @current_user.name %>'s' Profile</a>
            </li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Cleaners Near You</a>
            </li>
            <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Something</a>
            </li>
            <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Something</a>
            </li>
            <li role="presentation">
                <a href="#settings2" aria-controls="settings" role="tab" data-toggle="tab">Something</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
              <div class="container2">
                  <div class="panel">

                      <h2>Instructions</h2>
                      <p>
                          To create a new company profile:
                          <ol>
                              <li>Click "New Company" and fill out the fields.</li>
                              <li>Click "New Boss" if you know who is going to be interviewing you, and fill out all of the fields.</li>
                          </ol>
                      </p>
                      <hr>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#item1-services">New Resume</button>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newcomp">New Company</button>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newboss">New Boss</button><br>

                      <h2>My Resume<small>(s)</small>
                      </h2>
                      <% @resumes.each do |resume| %>
                      <%= link_to "#{@current_user.name} Resume", resume_path(id: resume.id) %><br>
                      <% end %>
                      <h2>My Companie<small>(s)</small>
                      </h2>
                      <% @descomps.each do |descomp| %>
                      <%= link_to descomp.company, company_path(id: descomp.id) %><br>

                      <% end %>

                  </div>
              </div>


            </div>
            <% if @user_location["lat"].nil? && @user_location["long"].nil? %>
            input address
            <% else %>
            <div role="tabpanel" class="tab-pane" id="profile">
              <div class="map">
                  <div id="main_map"></div>

                  <script type="text/javascript">

                      var mymap = L.map('main_map').setView([
                          <%= @user_location["lat"] %>, <%= @user_location["lon"] %>
                      ], 13);

                      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ3JlZW51cCIsImEiOiJjaXFudW4wNjcwMWQ1Zm9ubjQ0eHB6ejU5In0.8U3wnPsvgv9fAV4VnC2apA', {
                          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                          maxZoom: 18,
                          id: 'greenup.0m0k3acb',
                          accessToken: 'pk.eyJ1IjoiZ3JlZW51cCIsImEiOiJjaXFudW4wNjcwMWQ1Zm9ubjQ0eHB6ejU5In0.8U3wnPsvgv9fAV4VnC2apA'
                      }).addTo(mymap);

                      L.marker([<%= @user_location["lat"] %>, <%= @user_location["lon"] %>]).addTo(mymap).bindPopup("You Are Here");
                      <% @cleaners.each do |venue| %>
                      L.marker([<%= venue["location"]["lat"]%>, <%= venue["location"]["lng"]%>]).addTo(mymap).bindPopup("<%= venue[" name "] %>");
                      <% end %>
                  </script>
              </div>
              <% end %>

            </div>



            <div role="tabpanel" class="tab-pane" id="messages">

              put shit here


            </div>
            <div role="tabpanel" class="tab-pane" id="settings">

              put shit here

            </div>





            <div role="tabpanel" class="tab-pane" id="settings2">
put shit here
            </div>

        </div>

    </div>

</div>
