<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item1-services">New Resume</button>

<div class="modal fade" id="item1-services" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">New Resume</h4>
            </div>
            <div class="modal-body">
                <%= form_for @resume, url: new_resume_path do |f| %>
                <%= f.label :address %>
                <%= f.text_field :address, class:"form-control" %>
                <%= f.label :phone %>
                <%= f.text_field :phone, class:"form-control" %>
                <%= f.label :school1 %>
                <%= f.text_field :school1, class:"form-control" %>
                <%= f.label :school2 %>
                <%= f.text_field :school2, class:"form-control" %>
                <%= f.label :school3 %>
                <%= f.text_field :school3, class:"form-control" %>
                <%= f.label :cdd1 %>
                <%= f.text_field :cdd1, class:"form-control" %>
                <%= f.label :cdd2 %>
                <%= f.text_field :cdd2, class:"form-control" %>
                <%= f.label :cdd3 %>
                <%= f.text_field :cdd3, class:"form-control" %>
                <%= f.label :excomp1 %>
                <%= f.text_field :excomp1, class:"form-control" %>
                <%= f.label :excomp2 %>
                <%= f.text_field :excomp2, class:"form-control" %>
                <%= f.label :excomp3 %>
                <%= f.text_field :excomp3, class:"form-control" %>
                <%= f.label :expos1 %>
                <%= f.text_field :expos1, class:"form-control" %>
                <%= f.label :expos2 %>
                <%= f.text_field :expos2, class:"form-control" %>
                <%= f.label :expos3 %>
                <%= f.text_field :expos3, class:"form-control" %>
                <%= f.label :exstart1 %>
                <%= f.text_field :exstart1, class:"form-control" %>
                <%= f.label :exstart2 %>
                <%= f.text_field :exstart2, class:"form-control" %>
                <%= f.label :exstart3 %>
                <%= f.text_field :exstart3, class:"form-control" %>
                <%= f.label :exend1 %>
                <%= f.text_field :exend1, class:"form-control" %>
                <%= f.label :exend2 %>
                <%= f.text_field :exend2, class:"form-control" %>
                <%= f.label :exend3 %>
                <%= f.text_field :exend3, class:"form-control" %>
                <%= f.label :intcom1 %>
                <%= f.text_field :intcom1, class:"form-control" %>
                <%= f.label :intcomp2 %>
                <%= f.text_field :intcomp2, class:"form-control" %>
                <%= f.label :intcomp3 %>
                <%= f.text_field :intcomp3, class:"form-control" %>
                <%= f.label :intstart1 %>
                <%= f.text_field :intstart1, class:"form-control" %>
                <%= f.label :intstart2 %>
                <%= f.text_field :intstart2, class:"form-control" %>
                <%= f.label :intstart3 %>
                <%= f.text_field :intstart3, class:"form-control" %>
                <%= f.label :intend1 %>
                <%= f.text_field :intend1, class:"form-control" %>
                <%= f.label :intend2 %>
                <%= f.text_field :intend2, class:"form-control" %>
                <%= f.label :intend3 %>
                <%= f.text_field :intend3, class:"form-control" %>
                <%= f.label :cert1 %>
                <%= f.text_field :cert1, class:"form-control" %>
                <%= f.label :cert2 %>
                <%= f.text_field :cert2, class:"form-control" %>
                <%= f.label :cert3 %>
                <%= f.text_field :cert3, class:"form-control" %>
                <%= f.submit %>
                <% end %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#newboss">New Boss</button>

<div class="modal fade" id="newboss" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">New Boss</h4>
            </div>
            <div class="modal-body">
              <%= form_for @boss, url: new_boss_path do |f| %>
              <%= f.label :email %>
              <%= f.text_field :email, class:"form-control" %>
              <%= f.submit %>
              <% end %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#newcomp">New Company</button>

<div class="modal fade" id="newcomp" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-ios-close-empty"></span>
                </button>
                <span class="pe-7s-airplay services-icon-2"></span>
                <h4 class="service-title">New Company</h4>
            </div>
            <div class="modal-body">
              <%= form_for @descomp, url: new_company_path do |f| %>
              <%= f.label :company %>
              <%= f.text_field :company, class:"form-control" %>
              <%= f.label :url %>
              <%= f.text_field :url, class:"form-control" %>
              <%= f.submit %>
              <% end %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<br>
<% @resumes.each do |resume| %>
<%= link_to resume.id, resume_path(id: resume.id) %>
<% end %>
