<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">

            <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
            <% end %>

            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Company Information Gathered</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Company GlassDoor</a>
                    </li>
                    <li role="presentation">
                        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Hiring Manager Information Gathered</a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">

                        <div class="contentcontainer1">
                            <div class="static-about">

                                <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">About</h2>
                                    </div>
                                    <div class="panel-body">
                                        <div class="about">
                                            <div class="text-center">

                                                <%= image_tag @descomp.logo %><br>

                                            </div>
                                            <% if @company2.present? %>
                                            <strong>Approximate employees:
                                            </strong><%= @company2["organization"]["approx_employees"] %><br>
                                            <strong>Founded:
                                            </strong><%= @company2["organization"]["founded"] %><br>
                                            <strong>Sector:
                                            </strong><%= @descomp.sector %><br>
                                            <strong>Industry group:
                                            </strong><%= @descomp.industrygroup %><br>
                                            <strong>Industry:
                                            </strong><%= @descomp.industry %><br>
                                            <strong>Subindustry:
                                            </strong><%= @descomp.subindustry %><br>
                                            <strong>Description:
                                            </strong><%= @descomp.description %><br>
                                        <% else %>
                                            <% end %>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default contact-absolute">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Contact</h2>
                                    </div>
                                    <div class="panel-body">
                                        <div class="contact">

                                            <strong>Headquarter address:</strong>
                                            <% if @descomp.address.present? %>
                                            <%= @descomp.address %><br>
                                        <% else %>

                                            <% unless @company2.nil? %>

                                            <% @company2["organization"]["contact_info"]["addresses"].map do |address_hash|  %>
                                            <%= address_hash["address_line1"] %>,
                                            <%= address_hash["locality"] %>
                                            <%= address_hash["region"]["code"] %>,
                                            <%= address_hash["postal_code"] %>
                                            <% end %>
                                            <% end %>
                                            <% end %>

                                            <hr>
                                            <% unless @company2.nil? %>
                                            <%= link_to @company2["website"], @company2["website"] %><br>
                                            <% if @company2["organization"]["links"].nil? %>
                                        <% else %>
                                            <% @company2["organization"]["links"].map do |links_hash|  %>
                                            <%= link_to links_hash["url"], links_hash["url"] %><br>
                                            <% end %>
                                            <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default companytwitter">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Company Twitter</h2>
                                </div>
                                <div class="panel-body">
                                    <% if @descomp.twitter.nil? %>

                                    <%= form_for @descomp, url: edit_company_path(id: @descomp.id) do |f| %>
                                    <%= f.label :twitter %>
                                    <%= f.text_field :twitter, class:"form-control" %>
                                    <%= f.submit %>
                                    <% end %>
                                    <h2>The Twitter for the Company you're researching wasn't found, but here are some tweets mentioning
                                        <%= @descomp.company %>
                                    </h2>
                                    <% @client.search("#{@descomp.company}", result_type: "recent").take(10).collect do |t| %>

                                    <%= raw(@client.oembed(t.id).html) %>

                                    <% end %>

                                <% else %>
                                    <div class="company-twitter">
                                        <div class="Update" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel-info">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <div class="text-center">

                                                        <h4 class="panel-title">

                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#liked" href="#liked" aria-expanded="false" aria-controls="collapseTwo">
                                                                Click to see tweets liked by @<%= @descomp.twitter %>
                                                            </a>

                                                        </h4>
                                                    </div>
                                                </div>
                                                <div id="liked" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">

                                                        <a class="twitter-timeline" href="https://twitter.com/<%= @descomp.twitter %>/likes">Tweets Liked by @TwitterDev</a>
                                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <a class="twitter-timeline" href="https://twitter.com/<%= @descomp.twitter %>"></a>
                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                                        <% if @descomp.twitter.nil? %>
                                    <% else %>
                                        <h2>Not the correct twitter?</h2>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newcomp">Edit Twitter Handle</button>
                                        <% end %>
                                    </div>
                                    <% end %>
                                </div>
                            </div>

                            <div class="aboutwrap">

                                <div class="panel panel-default social-absolute">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Social Profiles</h2>
                                    </div>
                                    <div class="social-panel-body">
                                        <div class="social-profiles">
                                            <% unless @company2.nil? %>
                                            <% @company2["social_profiles"].each do |t| %>

                                            <strong>
                                                <u><%= t["type_name"] %></u>
                                            </strong>
                                            <br>
                                            <% if t["bio"].present? %>
                                            <strong>Bio:</strong><br>
                                            <%= t["bio"] %><br>
                                        <% else %>
                                            <br>
                                            <% end %>
                                            <strong>Link to Profile:</strong><br>
                                            <%= link_to t["url"], t["url"] %><br>

                                            <hr>
                                            <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">

                        <div class="text-center">
                            <%= image_tag @reviews["squareLogo"] %>

                        </div>

                        <div class="contentcontainer">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        Review</h2>
                                </div>
                                <div class="panel-body">

                                    <div class="reviewwrap">

                                        <div class="aboutreview">
                                            <br>
                                            <strong>Overall Rating :
                                            </strong>
                                            <%= @reviews["overallRating"] %><br>
                                            <strong>Rating Description :
                                            </strong>
                                            <%= @reviews["ratingDescription"] %><br>
                                            <strong>Culture And Values Rating :
                                            </strong>
                                            <%= @reviews["cultureAndValuesRating"] %><br>
                                            <strong>Senior Leadership Rating :
                                            </strong>
                                            <%= @reviews["seniorLeadershipRating"] %><br>
                                            <strong>Compensation And Benefits Rating :
                                            </strong>
                                            <%= @reviews["compensationAndBenefitsRating"] %><br>
                                            <strong>Career Opportunities Rating :
                                            </strong>
                                            <%= @reviews["careerOpportunitiesRating"] %><br>
                                            <strong>Work Life Balance Rating :
                                            </strong>
                                            <%= @reviews["workLifeBalanceRating"] %><br>
                                            <strong>Recommend To Friend Rating :
                                            </strong>
                                            <%= @reviews["recommendToFriendRating"] %><br>
                                            <strong>Sector Id :
                                            </strong>
                                            <%= @reviews["sectorId"] %><br>
                                            <strong>Sector Name :
                                            </strong>
                                            <%= @reviews["sectorName"] %><br>
                                            <strong>Industry Id :
                                            </strong>
                                            <%= @reviews["industryId"] %><br>
                                            <strong>Industry Name :
                                            </strong>
                                            <%= @reviews["industryName"] %><br>
                                        </div>

                                        <div class="aboutreview">
                                            <br>
                                            <strong>Id :
                                            </strong>
                                            <%= @reviews["id"] %><br>
                                            <strong>Name :
                                            </strong>
                                            <%= @reviews["name"] %><br>
                                            <strong>Website :
                                            </strong>
                                            <%= @reviews["website"] %><br>
                                            <strong>Industry :
                                            </strong>
                                            <%= @reviews["industry"] %><br>
                                            <strong>Number Of Ratings :
                                            </strong>
                                            <%= @reviews["numberOfRatings"] %><br>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Featured Review</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="featuredReview">
                                        <strong>Job Title :
                                        </strong>
                                        <%= @reviews["featuredReview"]["jobTitle"] %><br>
                                        <strong>Location :
                                        </strong>
                                        <%= @reviews["featuredReview"]["location"] %><br>
                                        <strong>Headline :
                                        </strong>
                                        <%= @reviews["featuredReview"]["location"] %><br>
                                        <strong>Pros :
                                        </strong>
                                        <%= @reviews["featuredReview"]["pros"] %><br>
                                        <strong>Cons :
                                        </strong>
                                        <%= @reviews["featuredReview"]["cons"] %><br>
                                        <strong>Overall :
                                        </strong>
                                        <%= @reviews["featuredReview"]["overall"] %><br>
                                        <strong>Featured Review url :
                                        </strong>
                                        <%= link_to @reviews["featuredReview"]["attributionURL"] %><br>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">CEO Review</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="reviewwrap">
                                        <div class="ceopic">

                                            <% if @reviews["ceo"].present? %>
                                            <% if image_tag @reviews["ceo"]["image"].nil? %>
                                        <% else %>
                                            <%= image_tag @reviews["ceo"]["image"]["src"] %><br>
                                            <% end %>
                                            <strong>CEO :
                                            </strong>
                                            <%= @reviews["ceo"]["name"] %><br>
                                        </div>

                                        <div class="ceoabout">
                                            <strong>Title :
                                            </strong>
                                            <%= @reviews["ceo"]["title"] %><br>
                                            <strong>Number Of Ratings :
                                            </strong>
                                            <%= @reviews["ceo"]["numberOfRatings"] %><br>
                                            <strong>Percentage Approve :
                                            </strong>
                                            <%= @reviews["ceo"]["pctApprove"] %>%<br>
                                            <strong>Percentage Disapprove :
                                            </strong>
                                            <%= @reviews["ceo"]["pctDisapprove"] %>%<br>
                                        <% else %>
                                            Not Available
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="modal fade" id="newcomp" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span class="ion-ios-close-empty"></span>
                                    </button>
                                    <span class="pe-7s-airplay services-icon-2"></span>
                                    <h4 class="service-title">Edit Company Twitter</h4>
                                </div>
                                <div class="modal-body">

                                    <%= form_for @descomp, url: edit_company_path(id: @descomp.id) do |f| %>
                                    <%= f.label :twitter %>
                                    <%= f.text_field :twitter, class:"form-control" %>

                                    <%= f.submit "Edit Twitter Handle", class:"btn btn-primary" %>

                                    <% end %>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <div role="tabpanel" class="tab-pane" id="settings">

                        <div class="manager">

                            <div class="panel panel-default ">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Hiring Manager's Information</h2>
                                </div>
                                <div class="panel-body">

                                    <% @descomp.bosses.each do |boss| %>
                                    <% if boss.twitter_avatar.present? %>
                                    <%= image_tag boss.twitter_avatar, class:"avatar" %>
                                    <% elsif %>

                                    <% if boss.github_avatar.present? %>
                                    <%= image_tag boss.github_avatar, class:"avatar" %>
                                    <% elsif %>

                                    <% if boss.angel_avatar.present? %>
                                    <%= image_tag boss.angel_avatar, class:"avatar" %>
                                    <% elsif %>

                                    <% if boss.about_avatar.present? %>
                                    <%= image_tag boss.about_avatar, class:"avatar" %>
                                    <% elsif %>

                                    <% if boss.gravatar_avatar.present? %>
                                    <%= image_tag boss.gravatar_avatar, class:"avatar" %>
                                <% else %>
                                    <%= image_tag "default_large.png", class:"avatar"  %>
                                    <% end %><% end %><% end %><% end %><% end %><br>
                                    <% if boss.name.present? %>
                                    <strong>Name:
                                    </strong>
                                    <%= boss.name %><br>
                                <% else %>

                                    <% end %>
                                    <% if boss.location.present? %>
                                    <strong>Location:
                                    </strong>
                                    <%= boss.location %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.gender.present? %>
                                    <strong>Gender:
                                    </strong>
                                    <%= boss.gender %><br>
                                <% else %>

                                    <% end %>
                                    <strong>Email:
                                    </strong>
                                    <%= boss.email %><br>
                                    <% if boss.twitter.present? %>
                                    <strong>Twitter Handle:
                                    </strong>
                                    <%= boss.twitter %><br>

                                <% else %>
                                    <% end %>
                                    <% if boss.twitter_site.present? %>
                                    <%= boss.twitter_site %><br>
                                <% else %>
                                    <% end %>

                                    <% if boss.linked.present? %>
                                    <strong>Linkedin Profile:
                                    </strong>
                                    <%=link_to "linkedin.com/#{boss.linked}", "http://www.linkedin.com/#{boss.linked}" %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.twitter_bio.present? %>
                                    <strong>Twitter Bio:
                                    </strong>
                                    <%= boss.twitter_bio %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.twitter.present? %>
                                    <strong>Twitter Followers:
                                    </strong>
                                    <%= boss.twitter_followers %><br>
                                    <strong>Twitter Following:
                                    </strong>
                                    <%= boss.twitter_following %><br>
                                <% else %>
                                    <% end %>

                                    <% if boss.company.present? %>
                                    <strong>Company:
                                    </strong>
                                    <%= boss.company %><br>
                                <% else %>

                                    <% end %>

                                    <% if boss.facebook.present? %>
                                    <strong>Facebook:
                                    </strong>
                                    <%= boss.facebook %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.github_handle.present? %>
                                    <strong>Github Handle:
                                    </strong>
                                    <%= boss.github_handle %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.github_company.present? %>
                                    <strong>Company:
                                    </strong>
                                    <%= boss.github_company %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.github_blog.present? %>
                                    <strong>Github Blog:
                                    </strong>
                                    <%= boss.github_blog %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.github_followers.present? %>
                                    <strong>Github Followers:
                                    </strong>
                                    <%= boss.github_followers %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.github_following.present? %>
                                    <strong>Github Following:
                                    </strong>
                                    <%= boss.github_following %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.google.present? %>
                                    <strong>Google Plus:
                                    </strong>
                                    <%= boss.google %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.angellist.present? %>
                                    <strong>Angel List:
                                    </strong>
                                    <%= boss.angellist %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.angel_bio.present? %>
                                    <strong>Angel Bio:
                                    </strong>
                                    <%= boss.angel_bio %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.angel_blog.present? %>
                                    <strong>Angel Blog:
                                    </strong>
                                    <%= boss.angel_blog %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.about_handle.present? %>
                                    <strong>About:
                                    </strong>
                                    <%= boss.about_handle %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.about_bio.present? %>
                                    <strong>About Bio:</strong>
                                    <%= boss.about_bio %><br>
                                <% else %>
                                    <% end %>
                                    <% if boss.valve.present? %>
                                    <strong>Valve:
                                    </strong>
                                    <%= boss.valve %><br>
                                <% else %>
                                    <% end %>

                                    <% end %><br>
                                </div>
                            </div>

                        </div>
                        <div class="reviewwrap">
                            <div class="twitter-center">

                                <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <% @descomp.bosses.each do |boss| %>
                                        <% if boss.twitter.present? %>
                                        <h2 class="panel-title">@<%= boss.twitter %>
                                            Timeline</h2>
                                    <% else %>
                                        <h2 class="panel-title">Twitter Timeline</h2>

                                        <% end %>
                                    </div>
                                    <div class="panel-body">
                                        <% @descomp.bosses.each do |boss| %>
                                        <% if boss.twitter.present? %>

                                        <div class="Update" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel-info">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseone" aria-expanded="false" aria-controls="collapseone">
                                                            Click to see tweets liked by @<%= boss.twitter %>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingone">

                                                    <div class="panel-body">

                                                        <a class="twitter-timeline" href="https://twitter.com/<%= boss.twitter %>/likes"></a>
                                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    <% else %>
                                        <% end %>

                                        <% if boss.twitter.present? %>

                                        <a class="twitter-timeline" href="https://twitter.com/<%= boss.twitter %>">Tweets Liked by @TwitterDev</a>
                                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    <% else %>
                                        Update Twitter handle in the 'Update Information' panel

                                        <% end %>
                                        <% end %>
                                        <% end %>
                                    </div>
                                </div>

                            </div>

                            <div class="boss-mentions update-absolute">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Update Information</h2>
                                    </div>
                                    <div class="panel-body">
                                        Please update hiring manager's Information if it's outdated or not currently present.<br><br>
                                        <div class="Update" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel-info">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Click Here to Update Information
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">

                                                        <% @descomp.bosses.each do |boss| %>
                                                        <%= form_for @boss, url: edit_boss_path(id: boss.id) do |f| %>
                                                        <%= f.label :twitter, "Twitter Handle" %>
                                                        <%= f.text_field :twitter, class:"form-control" %>
                                                        <%= f.label :name, "Full Name" %>
                                                        <%= f.text_field :name, class:"form-control" %>
                                                        <%= f.label :gender, "Gender" %>
                                                        <%= f.text_field :gender, class:"form-control" %>
                                                        <%= f.label :company, "Company" %>
                                                        <%= f.text_field :company, class:"form-control" %>
                                                        <%= f.label :linked, "Linkedin Profile" %>
                                                        <%= f.text_field :linked, class:"form-control" %>
                                                        <%= f.label :location %>
                                                        <%= f.text_field :location, class:"form-control" %>
                                                        <%= f.label :facebook %>
                                                        <%= f.text_field :facebook, class:"form-control" %>
                                                        <%= f.label :github_handle, "Github Handle" %>
                                                        <%= f.text_field :github_handle, class:"form-control" %>
                                                        <%= f.label :google, "GooglePlus Handle" %>
                                                        <%= f.text_field :google, class:"form-control" %>
                                                        <%= f.label :angellist, "Anglelist Handle" %>
                                                        <%= f.text_field :angellist, class:"form-control" %>
                                                        <%= f.label :about_handle, "About Handle" %>
                                                        <%= f.text_field :about_handle, class:"form-control" %>
                                                        <%= f.label :gravatar, "Gravatar Handle" %>
                                                        <%= f.text_field :gravatar, class:"form-control" %>
                                                        <%= f.label :gravatar_avatar, "Gravatar Avatar URL" %>
                                                        <%= f.text_field :gravatar_avatar, class:"form-control" %>
                                                        <%= f.label :twitter_avatar, "Twitter Avatar URL" %>
                                                        <%= f.text_field :twitter_avatar, class:"form-control" %>
                                                        <%= f.submit %>
                                                        <% end %>
                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                    </div>
                                </div>
                                <% unless @boss.nil? %>
                                <% unless @boss.github_handle.nil? %>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">Github Past 10 Repos</h2>
                                    </div>
                                    <div class="panel-body">
                                      <div class="text-center">

                                        <div class="pie">
                                            <%= pie_chart(@boss.langcount[0]) %>
                                        </div>

                                        Github Handle : <%= @boss.github_handle %>
                                        </div>
                                        <ul class="list-group">
                                          <% unless @boss.langcount[0].nil? %>
                                            <% @boss.langcount[0].each do |r| %>
                                            <li class="list-group-item">
                                                <span class="badge"> %<%= (((r[1])/(@total).to_f)*100).round(2) %></span>
                                                <%= r[0] %>
                                            </li>
                                            <% end %>
                                            <% end %>
                                        </ul>

                                        <div class="Update" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel-info">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Click Here to See Repo Links
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <%  @boss.clone.each do |c| %>
                                                        <ul>
                                                            <li><%= link_to c, c %></li>
                                                        </ul>

                                                        <% end %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <% end %>
                                  <% end %>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

</body>
</html>
