<section id='contact' class=''>
    <div class='container'>
        <div class='row mb30'>
            <div class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center'>
                <h2>Contact</h2>
                <span class='section-divider mb15'></span>
                <p class='no-margin scaleReveal'>If you have any questions feel free to use the methods below.</p>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-5 col-lg-4'>
                <h5 class='heading-1 mb20'>Contact Us</h5>
                <p class='text-xs-small mb5'>
                    <strong class='text-switch'>Email:</strong>greenup.steven@gmail.com</p>
                <p class='text-xs-small mb5'>
                    <strong class='text-switch'>Phone:</strong>+1 123-456-7890</p>
                <p class='text-xs-small mb5'>
                    <strong class='text-switch'>Fax:</strong>+1 123-456-7890</p>
            </div>

<div class='col-sm-6 col-lg-7 mt30-xs'><%= form_for @contact, url: contact_me_path do |f| %>
    <div class='row'>
        <div class='col-sm-6'>
            <div class='form-group'>
                <div class='controls'><%= f.label :subject %><br><%= f.text_field :subject %>
                    <div class='help-block with-errors'></div>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class='form-group'><%= f.label :phone %><br><%= f.text_field :phone %></div>
        </div>
    </div>
    <div class='row mb10'>
        <div class='col-sm-6'>
            <div class='form-group'>
                <div class='controls'><%= f.label :yourname, 'Your Name' %><br><%= f.text_field :yourname %>
                    <div class='help-block with-errors'></div>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class='form-group'>
                <div class='controls'><%= f.label :email %><br><%= f.email_field :email %>
                    <div class='help-block with-errors'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <div class='form-group'>
                <div class='controls'><%= f.label :message %><br><%= f.text_area :message %>
                    <div class='help-block with-errors'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='row mt15'>
        <div class='col-sm-6'>
            <div id='msgSubmit' class='h4 hidden mt10 no-margin-bottom'></div>
        </div>
        <div class='col-sm-6 text-right'><%= f.submit 'Send'%></div>
    </div><% end %></div>
  </div>
</div>
</section>
