<%= wicked_pdf_stylesheet_link_tag "resumes" -%>



<div class="contact-resume">
  <h2><%= @current_user.name %></h2>

  <%= @resume.address %> - <%= @current_user.email %> - <%= @resume.phone %><br>
</div>

<div class="education">
  <h4><strong><u>Education</u></strong></h4>
  <div class="school">
  <strong><%= @resume.school1 %></strong><br>
    <%= @resume.cdd1 %><br>
    <% if @resume.school2.present? %>
      <strong><%= @resume.school2 %></strong> <br>
    <%= @resume.cdd2 %><br>
    <% else %>
    <% end %>

    <% if @resume.school3.present? %>
      <strong><%= @resume.school3 %></strong> <br>
    <%= @resume.cdd3 %><br>
    <% else %>
    <% end %>
  </div>
</div>



<h4><strong><u>Professional Experience</u></strong></h4>

<div class="company">
  <div class="Position">
    <%= @resume.excomp1 %><br>
    <%= @resume.expos1 %><br>
  </div>
  <div class="startend">
    <%= @resume.exstart1 %> - <%= @resume.exend1 %><br>
  </div>
</div><br>

<div class="company">
  <div class="Position">
    <%= @resume.excomp2 %><br>
    <%= @resume.expos2 %><br>
  </div>
  <div class="startend">
    <%= @resume.exstart2 %> - <%= @resume.exend2 %><br>
  </div>
</div><br>


<div class="company">
  <div class="Position">
    <%= @resume.excomp3 %><br>
    <%= @resume.expos3 %><br>
  </div>
  <div class="startend">
    <%= @resume.exstart3 %> - <%= @resume.exend3 %><br>
  </div>
</div><br>









<u>Internships</u>
 <br><br>
<%= @resume.intcom1 %><br>
<%= @resume.intcomp2 %><br>
<%= @resume.intcomp3 %><br>
<%= @resume.intpos1 %><br>
<%= @resume.intpos2 %><br>
<%= @resume.intpos3 %><br>
<%= @resume.intstart1 %><br>
<%= @resume.intstart2 %><br>
<%= @resume.intstart3 %><br>
<%= @resume.intend1 %><br>
<%= @resume.intend2 %><br>
<%= @resume.intend3 %><br>
<u>Certifications</u>
 <br><br>
<%= @resume.cert1 %><br>
<%= @resume.cert2 %><br>
<%= @resume.cert3 %>
