<!DOCTYPE html>
<html>
    <head>
        <title>Igotthejob</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <header>
            <div class="logo-top">
                <div class="text-center">
                    <%= image_tag "logoo", class:"logo" %>
                </div>
            </div>

            <!-- Begin Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="profile">

                                <% if @current_user %>

                                <%= @current_user.name %>

                            <% else %>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Sign in</button>

                                <% end %>

                            </div>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                              <% if @current_user %>
                              <li><%= link_to "My Profile", user_path(id: @current_user.id) %></li>
                              <% end %>

                                <li><%= link_to "Home", root_path %></li>
                                <li>
                                    <a href="#services" data-id="services" class="scroll-link">Services</a>
                                </li>
                                <li>
                                    <a href="#contact" data-id="contact" class="scroll-link">Contact</a>
                                </li>
                                <% if @current_user %>
                                <li><%= link_to 'Sign Out', sign_in_path, method: :delete %></li>
                                <% end %>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- End Navigation -->

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="sign-in" style="visibility: visible">
                            <% if @user.errors.any? %>
                            <div class="alert alert-danger" role="alert">
                                <% @user.errors.full_messages.each do |msg| %>
                                <%= msg %><br>
                                <% end %>
                            </div>
                            <% end %>
                            <h2>Sign in</h2>
                            <%= form_tag create_session_path do %>
                            <%= label_tag :email %>
                            <%= text_field_tag :email,"", class:"form-control" %><br>
                            <%= label_tag :password %>
                            <%= password_field_tag :password,"", class:"form-control" %><br>
                            <%= submit_tag "Sign in", class:"btn btn-primary" %>

                            <% end %>
                        </div>
                    </div>

                </div>
            </div>

        </header>


        <%= yield %>
        <!-- Begin Footer -->
        <footer class="footer-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <span class="icon-handle-streamline-vector logo"></span>
                        <h2 class="theme-title">Interview<span class="theme-title-smaller">Prep</span>
                        </h2>
                        <a href="#">
                            <span class="ion-social-twitter social-icons-dark-hover mr15"></span>
                        </a>
                        <a href="#">
                            <span class="ion-social-facebook social-icons-dark-hover mr15"></span>
                        </a>
                        <a href="#">
                            <span class="ion-social-googleplus-outline social-icons-dark-hover"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-small text-center">
                        <hr>
                        <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
                        <p class="no-margin">&copy; Steven Greenup</p>
                    </div>
                    <!-- /.column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </footer>
        <!-- /.footer -->
        <!-- Begin Footer -->
    </body>
</html>
