<!DOCTYPE html>
<html>
    <head>
        <title>Interview Prep</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>
            .navbar-fixed-top {
                }
            .navbar-show {
                height: 100%;
                background: rgba(179, 184, 185, 0.95) none repeat scroll 0 0;
            }

            #nav-about {
                display: none;
            }

            .navbar-show #nav-about {
                display: block;
            }

        </style>

        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    </head>

    <body>

        <header>
            <div class="logo-top">
                <div class="text-center">
                    <%= image_tag "whitesmall.png", class:"logo" %>
                </div>
            </div>

            <!-- Begin Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="profile">

                                <% if @current_user %>

                                <%= @current_user.name %>

                            <% else %>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Sign in</button>

                                <% end %>

                            </div>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <% if @current_user %>
                                <li><%= link_to "My Profile", user_path(id: @current_user.id) %></li>
                                <% end %>

                                <li><%= link_to "Home", root_path %></li>
                                <li>
                                    <a href="#services" data-id="services" class="scroll-link services">Services</a>
                                </li>
                                <li>
                                  <%= link_to "Contact", contact_path, :remote => true %>
                                    <!-- <a href="#contact" data-id="contact" class="scroll-link contact" data-remote="true">Contact</a> -->
                                </li>
                                <% if @current_user %>
                                <li><%= link_to 'Sign Out', sign_in_path, method: :delete %></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="nav-about"></div>
            </nav>


            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="sign-in" style="visibility: visible">




                            <h2>Sign in</h2>
                            <%= form_tag create_session_path do %>
                            <%= label_tag :email %>
                            <%= email_field_tag :email,"", class:"form-control" %><br>
                            <%= label_tag :password %>
                            <%= password_field_tag :password,"", class:"form-control" %><br>
                            <%= submit_tag "Sign in", class:"btn btn-primary" %>

                            <% end %>
                        </div>
                    </div>

                </div>
            </div>

        </header>

        <%= yield %>
        <!-- Begin Footer -->
        <footer class="footer-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <span class="icon-handle-streamline-vector logo"></span>

                        <div class="logo-bottom">
                            <div class="text-center">
                                <%= image_tag "logoblack.png", class:"logo-big" %>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-small text-center">
                        <hr>
                        <p class="no-margin">&copy; Steven Greenup</p>
                    </div>
                    <!-- /.column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </footer>
        <!-- /.footer -->
        <!-- Begin Footer -->
    </body>
</html>
